<h3><%= @shoe.name %></h3>

<% if current_user.shoes.include?(@shoe) %>
  <%= button_to("Remove From Watchlist", remove_shoe_path, :method => :delete, params: {shoe_id: @shoe.id}) %>
<% else %>
  <%= button_to("Add To Watchlist", user_path(current_user), :method => :patch, params: {shoe_id: @shoe.id}) %>
<% end %>
<img src=<%= @shoe.image_url %> height="300">
<h4>Price: $<%= @shoe.price %></h4>
<h4>Tech: <%= @shoe.tech %></h4>
<h4>Size: <%= @shoe.size %></h4>
<ul>
  <% @shoe.shoe_stores.each do |shoe_store| %>
    <li><%= link_to shoe_store.store.name, store_path(shoe_store.store) %>
     <%= "- #{shoe_store.quantity} in stock" %></li>
  <% end %>
</ul>
